<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>「高级web前端开发工程师招聘」_腾讯招聘-BOSS直聘</title>
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/list.css">
    <link rel="stylesheet" href="./style/detail.css">
</head>

<body>
    <div class="container" id="app">
        <div class="top-bar flex padding">
            <img src="./img/logo-detail.png" alt="">
            <form action="" class="flex">
                <input type="text" placeholder="搜索职位">
                <button class="search-icon" />
            </form>
        </div>
        <!-- top end -->
        <div class="job-info padding">
            <div class="title flex">
                <span class="">{{job.title}}</span>
                <span class="salary">{{job.salary}}</span>
            </div>
            <div class="props flex">
                <div class="items flex">
                    <template v-for="(tag, index) in job.tags" :key="index">
                        <i class="" v-if="index > 0"></i>
                        {{tag}}
                    </template>
                </div>
                <div class="">
                    {{job.createDate}}
                </div>
            </div>
            <div class="tags">
                <span class="" v-for="(label, index) in job.labels">{{label}}</span>
            </div>

        </div>
        <!-- end of job-info -->
        <div class="user-info flex padding"  v-if="job.user">
            <img :src="job.user.avatar" alt="" class="">
            <div class="info">
                <div class="user flex">
                    <span class="">{{job.user.userName}}</span>
                    <span class="like">
                        <img src="./img/like.png" alt="" class="">
                        感兴趣
                    </span>
                </div>
                <div class="desc">
                    {{job.user.title}}
                </div>
            </div>
            <button class="btn">立即沟通</button>
        </div>
        <!-- end of userinfo -->
        <div class="job-detail padding" v-if="job.company">
            <h3>职位描述</h3>
            <div class="text" v-html="job.body">
            </div>

            <h3 class="">团队介绍</h3>
            <div class="tags">
                <span class="" v-for="(team, index) in job.team">{{team}}</span>
            </div>
            <h3 class="">公司介绍</h3>
            <div class="text" v-html="job.company.info">
            </div>

            <h3 class="">工商信息</h3>
            <div class="text">
                <p class="">深圳腾讯技术有限公司</p>
                <table class="">
                    <tr class="">
                        <th>法人代表</th>
                        <td>{{job.company.props.法人代表}}</td>
                        <th>注册资本</th>
                        <td>{{job.company.props.注册资本}}</td>
                    </tr>
                    <tr class="">
                        <th>成立时间</th>
                        <td>{{job.company.props.成立时间}}</td>
                        <th>经营状态</th>
                        <td>{{job.company.props.经营状态}}</td>
                    </tr>
                </table>
                <p class="grey"><small class="">数据来源：天眼查</small></p>
            </div>

            <h3>工作地址</h3>
            <div class="map">
                我是一个地图
            </div>
        </div>
        <!-- end of detail -->
        <div class="company-info flex padding" v-if="job.company">
            <img :src="job.company.logo" alt="" class="">
            <div class="info">
                <div class="name flex">
                    <span class="">{{job.company.name}}</span>
                    <button type="button" class="btn">关注该公司</button>
                </div>
                <div class="desc">{{job.company.fullName}}</div>
                <div class="tags flex">
                    <template v-for="(tag, index) in job.company.tags" :key="index">
                        <i class="" v-if="index > 0"></i>
                        <span class="">{{tag}}</span>
                    </template>
                </div>
            </div>
        </div>
        <!-- endnof company-info -->
        <div class="related-jobs padding">
            <h3 class="">相似职位</h3>
            <ul class="job-list">
                <li class="" v-for="(item, index) in job.jobs">
                    <a href="" class="job-item flex">
                        <img :src="item.logo" alt="" class="">
                        <div class="text">
                            <div class="title flex">
                                {{item.title}}
                                <span class="salary">{{item.salay}}</span>
                            </div>
                            <div class="flex">
                                <div class="company">
                                    {{item.company}}
                                </div>
                                <button type="button" class="btn">立即沟通</button>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- enn of related jobs -->
        <div class="related-companies padding">
            <h3 class="">推荐公司:</h3>
            <div class="tags">
                <a class="" v-for="item in job.companies">{{item.name}}</a>
            </div>
        </div>
        <!-- end of related company -->
        <div class="job-footer breadcrumb-nav">
            <a href="" class="">首页</a><i class=""></i>
            <a href="" class="">深圳招聘</a><i class=""></i>
            <a href="" class="">web前端招聘</a><i class=""></i>
            <a href="" class="">腾讯集团web前端招聘</a><i class=""></i>
            <a href="" class="">腾讯集团web前端招聘</a><i class=""></i>
            <a href="" class="">腾讯集团web前端招聘</a>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                job: {}
            },
            created: function () {
                const that = this
                fetch('http://127.0.0.1:5500/api/detail.json')
                    .then(function (res) {
                        return res.json()
                    }).then(function (data) {
                        that.job = Object.assign({}, that.job, data)
                        console.log(that.job, 'that.job')
                    })
            }
        })
    </script>
</body>

</html>