<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>「深圳招聘网」-海量深圳人才招聘信息 - BOSS直聘</title>
    <link rel="stylesheet" href="./style/main.css">
</head>

<body>
    <div class="container" id="app">
        <div class="home-header">
            <img src="./img/home-search-text.png" alt="">
            <form action="" class="">
                <input type="text" placeholder="搜索职位/公司">
                <button type="text">搜索</button>
            </form>
        </div>

        <div class="home-categories">
            <dl class="" v-for="(item, index) in categories">
                <dt class="">
                    <img :src="item.icon" alt="">
                    <div class="">{{item.name}}</div>
                <dd class="">
                    <a href="" v-for="(tag, index) in item.tags" class="tag">{{tag}}</a>
                </dd>
                </dt>
            </dl>
        </div>
        <div class="home-footer">
            <p class="">违法和不良信息举报邮箱：jubao@kanzhun.com</p>
            <p class="">企业服务热线和举报投诉：400 065 5799</p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                categories: []
            },
            created: function () {
                const that = this
                fetch('http://127.0.0.1:5500/api/index.json')
                    .then(function (res) {
                        return res.json()
                    }).then(function (data) {
                        console.log(data)
                        that.categories = data
                    })
            }
        })
    </script>
</body>

</html>