<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>「深圳Java招聘」 - BOSS直聘</title>
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/list.css">
</head>

<body>
    <div class="container" id="app">
        <div class="list-header flex">
            <form action="" class="flex">
                <img src="./img/icon-home.png" alt="" class="">
                <div class="inner flex">
                    <input type="text" class="" value="web前端">
                    <span class="">&times;</span>
                </div>
                <button>搜索</button>
            </form>
        </div>
        <!-- end of header -->
        <div class="filter flex">
            <dl class="active1" v-for="(item, index) in fliterTpye" :key="index">
                <dt class="">{{item.type}}</dt>
                <dd class="active">
                    <ul class="">
                        <li class="active" v-for="(option, index) in item.options">{{option.text}}</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <!-- end of filter -->
        <ul class="job-list">
            <li class="" v-for="(item, index) in companyList" :key="index">
                <a href="" class="job-item flex">
                    <img :src="item.logo" alt="" class="">
                    <div class="text">
                        <div class="title flex">
                            {{item.title}}
                            <span class="salary">{{item.salary}}</span>
                        </div>
                        <div class="company">
                            {{item.company}}
                        </div>
                        <div class="props">
                            <span class="" v-for="(tag, index) in item.tags">{{tag}}</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                fliterTpye: [],
                companyList: []
            },
            created: function () {
                const that = this
                fetch('http://127.0.0.1:5500/api/filter.json')
                    .then(function (res) {
                        return res.json()
                    }).then(function (data) {
                        console.log(data)
                        that.fliterTpye = data
                    }),
                    
                fetch('http://127.0.0.1:5500/api/companyList.json')
                    .then(function (res) {
                        return res.json()
                    }).then(function (data) {
                        console.log(data)
                        that.companyList = data
                    })
            }
        })
    </script>
</body>

</html>